<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h1>Movies</h1>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <h2><%= movie.title %></h2>
                <p>Genre: <%= movie.name %></p>
                <p>Id: <%= movie.id %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>