<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
</head>
<body>
    <h1>Popular Movies</h1>
    <ul>
        <% movies.forEach(function(movie) { %>
            <li>
                <h2><%= movie.title %></h2>
                <p>Release Date: <%= movie.release_date %></p>
                <p>Overview: <%= movie.overview %></p>
            </li>
        <% }) %>
    </ul>
</body>
</html>